 {% load home_tags portal_tags %}
{% load static %}

{% get_navigation_menu "top_menu" as top_menu_items %}

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="logo" src="{% static "images/mng-logo-white-300.png" %}" alt="MicrobesNG logo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="primary-navbar">
      <ul class="nav navbar-nav navbar-right">
        {% for item in top_menu_items %}
          <li><a href="{{ item.link }}">{{ item.title }}</a></li>
        {% endfor %}
        <li>
          <a href="#" data-toggle="popover" data-popover-content="#project-tracker-popover-content" 
             data-placement="bottom">Project Tracker <span class="label label-info">New!</span></a>

          <div id="project-tracker-popover-content" class="hidden">
            <div class="popover-heading">
              Get your project links emailed to you
            </div>

            <div class="popover-body">
              {% email_link_form %}
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</nav>