/* --- FLEXBOX STICKY FOOTER --- */

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent Chrome, Opera, and Safari from
 *    letting these items shrink to smaller than their content's default
 *    minimum size.
 */
.site-body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 1 */
}
.site-header,
.site-footer {
  flex-shrink: 0; /* 2 */
}
.site-content {
  flex: 1 0 auto; /* 2 */
}


/* --- FLEXBOX ROWS --- */

.flex-row.row {
 display: flex;
 flex-wrap: wrap;
}

.flex-row.row > [class*='col-'] {
 display: flex;
 flex-direction: column;
}

.flex-row.row > [class*='col-'] .panel {
  height: 100%;
}

.flex-row img {
  flex: none;
}

/* --- BASE --- */

main {
  margin-bottom: 30px;
}

.bg-grey {
  background-color: #f6f6f6;
}


/* --- TYPOGRAPHY --- */

body {
  font-family: 'Source Sans Pro', Calibri, Candara, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

h1 i.fa, h2 i.fa, h3 i.fa, h4 i.fa {
  margin-right: 0.3em;
}

h1, .h1 {
  font-weight: 400;
}

h2, .h2 {
  font-weight: 400;
  color: #00bbe3;
}

h3, .h3, h4, .h4 {
  font-weight: 400;
}

dt {
  font-weight: 300;
}

p {
  font-weight: 300;
}

.section-header {
  width: 100%;
  border-bottom: 1px solid;
  color: #00bbe3;
}


/* --- FORMS --- */

.url_h {
  display: none;
}

label {
  font-weight: 400;
}


/* --- TABLES --- */

.table tbody tr.vert-middle td {
  vertical-align: middle;
}


/* --- NAV --- */

.navbar, .navbar-collapse {
  background-color: #00bbe3;
  border: 0;
}

.navbar-default {
  max-height: 50px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 400;
  padding: 15px 15px;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: rgba(255,255,255,0.6);
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-brand {
  padding: 5px 10px;
}

.navbar-brand .logo {
  max-height: 100%;
  width: auto;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .email-link-popover .popover {
  width: 300px;
}

.navbar-default .label-info {
  margin-left: 10px;
  background-color: #ff7f00;
  color:  #fff;
}


/* --- BUTTONS --- */

.btn i.fa {
  margin-right: 0.5em;
}

.btn-primary {
  background-color: #00bbe3;
  border-color: #00bbe3;
}

.btn-primary:hover {
  background-color: #fff;
  border-color: #00bbe3;
  color: #00bbe3;
}

.btn-link {
  font-weight: 300;
}

/* --- FOOTER --- */

.site-footer {
  color: #fff;
  padding: 10px 0 10px 0;
  background-color: #303131;
}

.site-footer address {
  margin-top: 10px;
}

.site-footer .row {
  padding-top: 20px;
}

@media only screen and (min-width : 768px) {
  .site-footer .row:first-child {
    background: url('../images/footer-bacteria-panel-500.png') no-repeat;
    background-position: right 50px bottom;
    background-size: 250px;
  }
}

.site-footer .row:nth-child(2) {
  border-top: 1px solid #7dd2ec;
}

.site-footer ul.list-unstyled li {
  padding: 5px 0;
}

.site-footer a {
  color: #fff;
}

.site-footer a i.fa {
  color: #7dd2ec;
  margin-right: 10px;
}

.site-footer .logo {
  max-height: 40px;
  margin-bottom: 20px;
}


/* --- JUMBOTRON --- */

.jumbotron { 
  padding: 20px 0;
  margin-top: -20px;
}

.jumbotron img {
  margin: auto;
}

.jumbotron h1 {
  color: #006892;
}

.jumbotron h2 {
  font-size: 1.4em;
  color: #00bbe3;
}


/* --- TWITTER TYPEAHEAD --- */

.tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

/* --- COLLAPSE --- */

.a-collapse {
  display: block;  /* Required for collapse to work on mobile safari */
}


/* --- PANELS --- */

.panel {
  word-wrap: break-word;
}

.panel-heading h3,
.panel-heading h4 {
  margin: 0;
}

.panel-warning {
  border-color: #eea236;
}

.panel-warning > .panel-heading {
  background-color: #f0ad4e;
  color: #fff;
}

/* --- TABS --- */

.tab-pane {
  padding: 10px 0;
}

.nav-tabs > li > a {
  font-size: 1.2em;
  font-weight: 400;
}
