{% extends "portal/base.html" %}
{% load bootstrap3 portal_tags static %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'portal/js/project.js' %}"></script>
  <script src="{% static 'taxon/js/typeahead.js' %}"></script>
  <script src="{% static 'country/js/typeahead.js' %}"></script>

  {% if project.results_url and project.data_sent_date %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
      $.fn.dataTableExt.sErrMode = '';
      $(document).ready(function() {
        $('#trimmed_reads_table').DataTable({
          ajax: "{{ project.results_url }}json_reads.txt",
          responsive: true
        });
        $('#assemblies_table').DataTable({
          ajax: "{{ project.results_url }}assembly_json.txt",
          responsive: true
        });
        $('#taxonomic_distribution_table').DataTable({
          ajax: "{{ project.results_url }}json_cont.txt",
          responsive: true
        });
      });
    </script>
  {% endif %}
{% endblock %}

{% block title %}Your Project {{ project.reference }}{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Your project</h1>
          <h2>{{ project.reference }}</h2>
        </div>
        <div class="col-md-3 col-md-offset-3 hidden-sm hidden-xs text-right">
          <img src="{% static "images/mng-logo-500.png" %}" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        {% bootstrap_messages %}
      </div>
    </div>

    {% if project %}

      {% if project.results_url and project.data_sent_date %}
        <div class="row">
          <div class="col-md-12">
            <h2>Your Results</h2>
            {% include "portal/project_includes/results.html" %}
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-6">
          {% include "portal/project_includes/summary.html" %}
        </div>
        {% if project.meta_data_status == "Open" %}
          <div class="col-md-6">
            {% include "portal/project_includes/sample_preparation.html" %}
          </div>
        {% endif %}
      </div>

      {% if project.meta_data_status == "Open" %}
        <div class="row">
          <div class="col-md-12">
            {% include "portal/project_includes/sample_data_entry_panel.html" %}
          </div>
        </div>
      {% endif %}


      <div class="row">
        <div class="col-md-12">
          <h2>Your Samples</h2>
          {% include "portal/project_includes/sample_info.html" %}
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}
