{% load static pipeline wagtailuserbar bootstrap3 home_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MicrobesNG - {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
    <meta name="msapplication-config" content="{% static 'images/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    {# Global stylesheets #}
    {% bootstrap_css %}
    {% stylesheet 'libraries' %}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,400italic,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/mngweb.css' %}">

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="site-body {% block body_class %}{% endblock %}">

    <header class="site-header">
        {% include "includes/top_menu.html" %}
        {% block full_jumbo %}{% endblock %}
    </header>
   
    <main class="site-content clearfix">{% block content %}{% endblock %}</main>

    <footer class="site-footer">{% include "includes/footer.html" %}</footer>

    {# Global javascript #}
    {% bootstrap_javascript jquery=1 %}
    {% javascript 'libraries' %}
    <script src="{% static 'js/mngweb.js' %}"></script>
    <script src="{% static 'js/ajax-forms.js' %}"></script>
    <script src="https://use.fontawesome.com/ab6fe5d3cc.js"></script>

    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
