{% if testimonials %}
  <div id="testimonialCarousel" class="carousel slide text-center" data-ride="carousel">
    {# Indicators #}
    <ol class="carousel-indicators">
      <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonialCarousel" data-slide-to="1"></li>
    </ol>

    {# Wrapper for slides #}
    <div class="carousel-inner" role="listbox">

      {% for testimonial in testimonials %}
      <div class="item {% if forloop.counter == 1 %}active{% endif %}">
        <blockquote>
          <p>{{ testimonial.testimonial }}</p>
          <footer>{{ testimonial.customer_name }}
          {% if testimonial.customer_job_title %}
            , {{ testimonial.customer_job_title }}
          {% endif %}
          {% if testimonial.customer_organisation %}
            , {{ testimonial.customer_organisation }}
          {% endif %}
          </footer>
        </blockquote>
      </div>
      {% endfor %}
    </div>

    {# Left and right controls #}
    <a class="left carousel-control" href="#testimonialCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#testimonialCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endif %}